<div class="container">
<div class="row">
  <div class="title-area">
    <div class="title-text-area">
    <span class="L">L</span>
    <span class="O">o</span>
    <span class="G">g</span>
    <span class="I">i</span>
    <span class="C">c</span> &nbsp;
    <span class="Glossary">Glossary</span>
    </div>
  <div class="title-icon-area">
    <button class="title-icon-outer" mat-icon-button>
      <mat-icon class="w3-xlarge">history</mat-icon>
    </button>
  </div>
  </div>
  <hr>
    <div class="content-area">
      <div class="language-buttons">
        <div class="input-lang-btn">
          <mat-tab-group>
            <mat-tab label="Sinhala" #inputLang></mat-tab>
          </mat-tab-group>
        </div>
        <button class="swap-lang-btn" (click)="swapLanguages(inputLang,outputLang)">
          <mat-icon>swap_horiz</mat-icon>
        </button>
        <div class="output-lang-btn">
          <mat-tab-group>
            <mat-tab label="English" #outputLang></mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <div class="content-boxes" >
        <div class="input-text" >
          <form [formGroup]="inputForm" [style.height.%]="100" [style.width.%]="100">
          <div class="close-btn" [style.margin-bottom.px]="30">
            <button mat-icon-button class="reset-btn" type="reset">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <div class="text-area">
            <div class="text-inner">
              <mat-form-field class="example-full-width" appearance="fill" [style.height.%]="100" [style.width.%]="100">
                <input matInput placeholder="Enter Text"  formControlName="inputText">
              </mat-form-field>
            </div>
          </div>
          </form>
          <div class="voice-input-button">
            <button mat-icon-button class="mic-btn" (click)="recordAudioAndSend()">
              <mat-icon>mic</mat-icon>
            </button>
          </div>
        </div>
        <div class="output-text">
          <form [formGroup]="outputForm" [style.height.%]="100" [style.width.%]="100">
          <div class="close-btn" [style.margin-bottom.px]="30">
            <button mat-icon-button class="reset-btn" type="reset" >
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <div class="text-area" [style.margin-bottom.px]="30">
            <div class="text-inner">
              <mat-form-field class="example-full-width" appearance="fill" [style.height.%]="100" [style.width.%]="100">
                <input matInput placeholder="Corresponding Word" formControlName="outputText" readonly>
              </mat-form-field>
          </div>
      </div>
          </form>
    </div>

      </div>
    </div>
    <div class="other-contents-area">
      <button class="share-btn" mat-icon-button>
        <mat-icon class="share-btn-icon">share</mat-icon> <span class="share-btn-text">&nbsp;Share Translation</span>
      </button>
    </div>
  </div>

</div>

