.row {
  height: 99%;
  width: auto;
  overflow: hidden;

}

.title-area {
  width: auto;
  height: 50px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 40px;
  font-size: x-large;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;

}

.title-text-area {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title-icon-area {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.title-icon-outer {
  height: 95%;
  width: 50px;
  border: 1px solid grey;
  border-radius: 50%;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.L {
  color: dodgerblue;
}

.O {
  color: red;
}

.G {
  color: #9b9b14;
}

.I {
  color: green;
}

.C {
  color: red;
}

.Glossary {
  color: #5e6268;
}

hr {
  border-top: 1px solid #958888 !important;
  margin: 5px 0 !important;
}

.content-area {
  width: auto;
  height: 500px;
  display: flex;
  flex-direction: column;

}

.language-buttons {
  width: auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input-lang-btn {
  height: 40px;
  width: 120px;

}

.output-lang-btn {
  height: 40px;
  width: 120px;

}

@media screen and (min-width: 0) and (max-width: 750px) {
  .content-boxes {
    flex: 1;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .input-text {
    flex: 1;
    width: 95%;
    border: 1px solid grey;
    margin-bottom: 25px;

  }
  .output-text {
    flex: 1;
    width: 95%;
    border: 1px solid grey;
    margin-bottom: 30px;
    margin-left: 20px;
  }
}

.content-boxes {
  flex: 1;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.input-text {
  height: 300px;
  flex: 1;
  border: 1px solid grey;
  margin-left: 30px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;

}

.close-btn {
  flex: 1;
  width: auto;
  position: relative;
}

.reset-btn {
  position: absolute;
  right: 5px;
}

.text-area {
  height: 80%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-inner {
  height: 85%;
  width: 90%;

}

.voice-input-button {
  flex: 1;
  width: auto;
  position: relative;
}

.mic-btn {
  position: absolute;
  bottom: 0;
  left: 5px;
}

.output-text {
  height: 300px;
  flex: 1;
  border: 1px solid grey;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.other-contents-area {
  width: auto;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share-btn {
  width: 400px;
  height: 60%;
  border-radius: 32px;
  border: 1px solid black;
  color: blue;
}

.share-btn-text {
  font-size: x-large;
  padding-bottom: 300px;
}

.share-btn-icon {
  margin-top: 7px;
}
